@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic&family=Tangerine&family=Raleway&family=Gajraj+One&family=Crushed&family=Exo");

* {
  box-sizing: border-box;
  color: #a77e71;
  font-family: "Nanum Gothic";
}

body {
  background-color: #c0d3de;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Raleway"; */
  margin: 1em;
}

p {
  margin: 0.5em;
}

h1 {
  /* font-family: "Nanum Gothic"; */
  font-size: 2em;
  margin: 0.5em;
}

.site-name {
  color: #a77e71;
  text-transform: uppercase;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.371);
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.whole-page {
  max-width: 960px;
  margin: auto;
}

.receiver-cab {
  width: 60em;
  /* height: 16em; */
  /* border: solid #aaa 1px; */
  background-color: #c0d3de;
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    354deg,
    black,
    rgb(23, 23, 23),
    rgb(83, 83, 83)
  );
}

.views-langs-container {
  position: relative;
  /* width: 9em; */
  display: flex;
}

.left {
  justify-content: left;
}

.right {
  justify-content: right;
}

.views-box {
  position: absolute;
  display: flex;
  left: 1.5em;
  width: auto;
  background-color: #dcdcdc;
  border-radius: 3px;
  box-shadow: 0.3em 0.4em 0.4em -0.1em rgba(0, 0, 0, 0.713);
}

.languages-box {
  position: absolute;
  display: flex;
  right: 0.5em;
  background-color: #dcdcdc;
  border-radius: 3px;
  box-shadow: 0.3em 0.4em 0.4em -0.1em rgba(0, 0, 0, 0.713);
}

.view-btn {
  color: #676767;
  /* font-family: "Raleway"; */
  white-space: nowrap;
  margin: 0.25em;
}

.view-btn:hover {
  color: black;
}
.selected-view-btn {
  color: #000000;
  cursor: default;
}

.cabinet-upper-frame {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* margin: 1em; */
}

.change-view-lang-container {
  display: flex;
  color: #a77e71;
  margin: 1em;
}

.cab-upper-frame-text {
  /* font-family: "Tangerine"; */
  font-size: 1em;
  /* font-family: "Raleway"; */
  padding: 0;
  /* font-size: 18px; */
  /* margin: 0.1em; */
}

.interface-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em 0;
  /* margin: 0.75em 2em 1.5em 2em;
  padding: 1em 0 1.5em 0; */
  /* background-image: linear-gradient(
    352deg,
    rgb(20, 20, 20),
    rgb(15, 15, 15),
    rgb(43, 43, 43)
  ); */
}

.receiver-displays {
  display: flex;
  margin-right: 0.2em;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.page-link {
  display: flex;
  align-items: center;
  /* font-family: "Raleway"; */
  height: 1.5em;
  width: auto;
}

.page-link-text {
  font-size: 0.8em;
  text-transform: uppercase;
}

.selector-btn {
  border: solid #988e8e 1px;
  background-color: #e8e1da;
  border-radius: 25%;
  margin: 0 0.5em 0 0;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.527);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: transform 1s ease-in-out; */
}

.page-link:active .selector-btn {
  background-color: #4f4f4f;
  box-shadow: inset 0 2px 1px rgb(0, 0, 0);
}

.sub-page-select:active .selector-btn {
  background-color: #4f4f4f;
  box-shadow: inset 0 2px 1px rgb(0, 0, 0);
}

.selected {
  box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.716);
  background-color: #988e8e;
}

.selector-btn-medium {
  height: 2em;
  width: 2em;
  /* background-color: #454545; */
}

.selector-btn-small {
  height: 1.2em;
  width: 1.6em;
  /* background-color: #454545; */
}

/* .selector-btn-small {
  height: 0.5em;
  width: 0.5em;
} */

.circle {
  border: solid #988e8e 1px;
  border-radius: 50%;
  background-color: #988e8e;
  height: 8px;
  width: 8px;
}

.circle-selected {
  background-color: #e8e1da;
  border: solid #e8e1da 1px;
}

.sub-page-selector-container {
  display: flex;
  justify-content: left;
  /* background-color: #5e689d; */
  /* height: 100vh; */
  width: auto;
  /* margin-top: 1em; */
}

.sub-page-select {
  background-color: #fff0e2;
  display: flex;
  align-items: center;
  flex: 1;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  margin: 2px;
}

.sub-page-title {
  font-size: 1.5em;
  /* font-family: "Abril Fatface"; */
  /* font-family: "Gajraj One"; */
  /* font-family: "Crushed"; */
}

.content-container {
  width: 60em;
  height: 100vh;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1.5em;
  border-image-source: linear-gradient(
    352deg,
    rgb(42, 21, 9),
    rgb(54, 29, 13),
    rgb(31, 18, 12)
  );
}

.grille {
  display: flex;
  justify-content: space-around;
  margin: 0.2em;
  padding: 4em;
  border-radius: 1%;
  background-color: #212121;
  height: 100vh;
  width: auto;
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0);
}

.page-contents-wrapper {
  position: relative;
  background-color: #000000;
  top: 4.5em;
  box-shadow: 0em 0em 1.5em 1.5em rgb(0, 0, 0);
  border: solid black 1px;
  border-radius: 1%;
}

.page-contents {
  width: 45em;
}

.page-header {
  /* font-family: "Gajraj One"; */
  color: white;
  font-size: x-large;
}

.badge-wes {
  position: relative;
  margin: 2em;
}
