@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Tangerine&family=Raleway&family=Gajraj+One&family=Crushed");

* {
  box-sizing: border-box;
  color: #7e7e7e;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0.5em;
}

h1 {
  font-family: "Gajraj One";
  /* font-family: "Crushed"; */
  /* font-family: "Abril Fatface"; */
  font-size: 1.6em;
  margin: 0;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.receiver {
  width: 60em;
  height: 16em;
  border: solid #aaa 1px;
  /* box-shadow: 0em 0.2em 1em rgb(255, 255, 255); */
}

.languageBox {
  background-color: #aaa;
  border-color: #122622;
}

.cabinet-upper-frame {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cab-upper-frame-script {
  font-family: "Tangerine";
  font-size: 24px;
  /* font-family: "Crushed"; */
  /* font-size: 18px; */
  margin: 0.1em;
}

.receiver-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.75em 2em 1.5em 2em;
  padding: 1em 0 1.5em 0;
  border: solid 1px #aaa;
}

.receiver-displays {
  display: flex;
  margin-right: 0.2em;
}

.page-selector-container {
  display: block;
}

.page-link {
  display: flex;
  justify-items: baseline;
  /* font-family: "Abril Fatface"; */
  /* font-family: "Gajraj One"; */
  font-family: "Crushed";
  font-size: 1em;
}

.selector-btn {
  border: solid #000000 1px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 0.5em 0 0;
  box-shadow: inset -0.15em -0.2em 0.5em rgb(0, 0, 0);
}

.selected {
  background-color: #4f4f4f;
  box-shadow: inset 0em 0em 0.6em rgb(0, 0, 0);
}

.selector-btn-large {
  height: 2em;
  width: 2em;
}

.selector-btn-medium {
  height: 1em;
  width: 1em;
}

.selector-btn-small {
  height: 0.5em;
  width: 0.5em;
}

.radio-display {
  border: solid blue 1px;
  margin: 0 2em;
  height: 4em;
  width: 24em;
}

.vu-meter {
  border: solid blue 1px;
  margin: 0 0.5em;
  height: 4em;
  width: 8em;
}

.sub-page-selector-container {
  display: flex;
  justify-content: space-around;
}

.sub-page-select {
  align-items: center;
  display: flex;
}

.sub-page-title {
  font-size: 1.5em;
  /* font-family: "Abril Fatface"; */
  font-family: "Gajraj One";
  /* font-family: "Crushed"; */
}

.speaker {
  margin-top: 0.5em;
  border: solid rgb(90, 43, 17) 1em;
  border-radius: 1% 1% 0 0;
  width: 60em;
  height: 100vh;
}

.grille {
  display: flex;
  justify-content: space-around;
  margin: 0.2em;
  border-radius: 1%;
  background-color: #494949;
  height: 100vh;
  width: auto;
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0);
}

.page-contents-wrapper {
  position: relative;
  background-color: #000000;
  top: 4.5em;
  box-shadow: 0em 0em 1.5em 1.5em rgb(0, 0, 0);
  border: solid black 1px;
  border-radius: 1%;
}

.page-contents {
  width: 45em;
}
