@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Tangerine&family=Raleway&family=Gajraj+One&family=Crushed&family=Exo");

* {
  box-sizing: border-box;
  color: #7e7e7e;
}

body {
  /* background-color: #040e03; */
  background-image: linear-gradient(352deg, #000000, #031002, #000000);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1em;
}

p {
  margin: 0.5em;
}

h1 {
  font-family: "Gajraj One";
  /* font-family: "Crushed"; */
  /* font-family: "Abril Fatface"; */
  font-size: 1.6em;
  margin: 0;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.whole-page {
  max-width: 960px;
  margin: auto;
}
.receiver {
  width: 60em;
  height: 16em;
  border: solid #aaa 1px;
  background-image: linear-gradient(
    352deg,
    rgb(23, 23, 23),
    rgb(15, 15, 15),
    rgb(33, 33, 33)
  );
  /* box-shadow: 0em 0.2em 1em rgb(255, 255, 255); */
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    354deg,
    black,
    rgb(23, 23, 23),
    rgb(83, 83, 83)
  );
}

.views-box {
  position: fixed;
  left: 4.5em;
  background-color: #dcdcdc;
  border-radius: 3px;
  box-shadow: 0.3em 0.4em 0.4em -0.1em rgba(0, 0, 0, 0.713);
}

.view-btn {
  color: #676767;
  font-family: "Raleway";
}

.view-btn:hover {
  color: black;
}
.selected-view-btn {
  color: #000000;
  cursor: default;
}

.cabinet-upper-frame {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cab-upper-frame-script {
  font-family: "Tangerine";
  font-size: 24px;
  /* font-family: "Crushed"; */
  /* font-size: 18px; */
  margin: 0.1em;
}

.receiver-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.75em 2em 1.5em 2em;
  padding: 1em 0 1.5em 0;
  background-image: linear-gradient(
    352deg,
    rgb(20, 20, 20),
    rgb(15, 15, 15),
    rgb(43, 43, 43)
  );
}

.receiver-displays {
  display: flex;
  margin-right: 0.2em;
}

.page-selector-container {
  display: block;
}

.page-link {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  height: 1.5em;
  width: auto;
}

.page-link-text {
  font-size: 0.8em;
  text-transform: uppercase;
}

.selector-btn {
  border: solid #270c0a 2px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 0.5em 0 0;
  box-shadow: inset -0.15em -0.2em 0.5em rgb(0, 0, 0),
    0.1em 0.4em 0.2em -0.1em rgba(0, 0, 0, 0.713);
  /* transition: "transform 0.5s ease-in-out"; */
}

.page-link:active .selector-btn {
  background-color: #4f4f4f;
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0), inset 0 0 0.3em 0.01em #f6392bc8,
    0 0 0.5em 0.1em #f6392bc8;
  border: solid #c64420c8 0.1px;
}

.sub-page-select:active .selector-btn {
  background-color: #4f4f4f;
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0), inset 0 0 0.3em 0.01em #f6392bc8,
    0 0 0.5em 0.1em #f6392bc8;
  border: solid #c64420c8 0.1px;
}

.selected {
  box-shadow: inset -0.15em -0.2em 0.5em rgba(0, 0, 0, 0.716),
    0.1em 0.4em 0.2em -0.1em rgba(0, 0, 0, 0.423),
    inset 0 0 0.3em -0.01em #f6392bc8, 0 0 0.5em 0.1em #f6392bc8;
  border: solid #f6392bc8 0.05px;
}

.selector-btn-medium {
  height: 2em;
  width: 2em;
  /* background-color: #454545; */
}

.selector-btn-small {
  height: 1.2em;
  width: 1.2em;
  /* background-color: #454545; */
}

/* .selector-btn-small {
  height: 0.5em;
  width: 0.5em;
} */

.radio-display {
  border: none;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(352deg, rgb(19, 19, 19) rgb(37, 37, 37));
  background-image: linear-gradient(
    352deg,
    rgb(255, 245, 159),
    rgb(255, 220, 64)
  );
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0), inset 0 0 5px 1px #f6392bc8;
  margin: 0 2em 0 0;
  height: 4em;
  width: 27em;
}

.fm-station-container {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 27em;
  padding: 0 34px;
}

.fm-station {
  border-bottom: solid rgba(0, 0, 0, 0.8) 2px;
  width: 10px;
  height: 1px;
  justify-content: space-around;
  display: flex;
}

.fm-station-number {
  position: relative;
  top: -10px;
  font-family: "Exo";
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -1.5px;
}

.horizontal-line-top {
  border: solid rgba(0, 0, 0, 0.8) 0.5px;
  position: relative;
  top: 30px;
  margin: 0 16px;
}

.horizontal-line-middle {
  border: dashed rgb(0, 0, 0, 0.6) 0.5px;
  position: relative;
  top: 32px;
  margin: 0 16px;
}

.horizontal-line-bottom {
  border: solid rgb(0, 0, 0, 0.6) 0.5px;
  position: relative;
  top: 34px;
  margin: 0 16px;
}

.am-container {
  position: relative;
  top: 34px;
  display: flex;
  justify-content: space-between;
  width: 27em;
  padding: 0 32px 0 35px;
}

.am-indicator {
  width: 10px;
  height: 1px;
}

.am-station-container {
  /* position: relative; */
  /* top: 34px; */
  display: flex;
  justify-content: space-between;
  width: 27em;
  /* padding: 0 -4px 0 0; */
}

.am-station {
  border-bottom: solid rgba(0, 0, 0, 0.8) 2px;
  width: 10px;
  height: 1px;
  justify-content: space-around;
  display: flex;
}

.am-station-number {
  position: relative;
  font-family: "Exo";
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.8);
  top: 0.5px;
  letter-spacing: -1px;
}

.radio-pointer {
  position: relative;
  top: -8px;
  left: 45px;
  height: 42px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.407);
  border-top: none;
  border-left: solid rgba(0, 0, 0, 0.417) 1px;
  border-right: solid rgba(0, 0, 0, 0.417) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.417) 1px;
}

.radio-pointer-tip {
  position: relative;
  top: 28px;
  left: -1px;
  width: 5px;
  height: 14px;
  background-color: rgb(255, 0, 17, 0.6);
  border: solid rgba(104, 103, 37, 0.823) 1px;
  box-shadow: 0em 0em 6px rgb(255, 0, 17, 0.6), 0 0 3px 1px #f6e52bc8;
}

.vu-meter {
  border: solid blue 1px;
  margin: 0 0.5em;
  height: 4em;
  width: 7em;

  border: none;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(352deg, rgb(19, 19, 19) rgb(37, 37, 37));
  background-image: linear-gradient(
    352deg,
    rgb(255, 245, 159),
    rgb(255, 220, 64)
  );
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0), inset 0 0 5px 1px #f6392bc8;
}

.sub-page-selector-container {
  display: flex;
  justify-content: center;
}

.sub-page-select {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

.sub-page-title {
  font-size: 1.5em;
  /* font-family: "Abril Fatface"; */
  font-family: "Gajraj One";
  /* font-family: "Crushed"; */
}

.speaker {
  margin-top: 0.5em;
  /* border: solid rgb(90, 43, 17) 1em; */
  /* border-radius: 1% 1% 0 0; */
  width: 60em;
  height: 100vh;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1.5em;
  border-image-source: linear-gradient(
    352deg,
    rgb(42, 21, 9),
    rgb(54, 29, 13),
    rgb(31, 18, 12)
  );
}

.grille {
  display: flex;
  justify-content: space-around;
  margin: 0.2em;
  padding: 4em;
  border-radius: 1%;
  background-color: #212121;
  height: 100vh;
  width: auto;
  box-shadow: inset 0em 0em 0.5em rgb(0, 0, 0);
}

.page-contents-wrapper {
  position: relative;
  background-color: #000000;
  top: 4.5em;
  box-shadow: 0em 0em 1.5em 1.5em rgb(0, 0, 0);
  border: solid black 1px;
  border-radius: 1%;
}

.page-contents {
  width: 45em;
}

.page-header {
  font-family: "Gajraj One";
  color: white;
  font-size: x-large;
}
